<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Kontrola_wizualna_karta_pracy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="deviceMonikerString" value="@device:pnp:\\?\usb#vid_0ac8&amp;pid_3420&amp;mi_00#7&amp;24161687&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\{71a51ad1-e7d3-11db-a386-005056c00008}" />
    <add key="Camera_ON_OFF" value="ON"/>
    <add key="ImgPath" value="C:\NG_Zdjecia\img"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />

  </startup>
  <userSettings>
    <Kontrola_wizualna_karta_pracy.Properties.Settings>

    </Kontrola_wizualna_karta_pracy.Properties.Settings>
  </userSettings>
</configuration>